* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.app {
  background: #eee;
  padding: 1em;
  height: 100vh;
}

.messages {
  height: 440px;
  overflow-y: scroll;
}

.messages__form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}
