* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.app {
  background: #eee;
  padding: 1em;
  height: 100vh;
}

.messages {
  height: 440px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.messages__form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}

.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.floating__message {
  position: fixed !important;
  width: 22%;
  text-align: center;
  z-index: 500;
}
